body {
    
    display: flex;
    justify-content: center; 
    flex-direction: column;     
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;      
    align-items: center;
    flex-direction: column;
    color:white;
    background-color: red;
    border-radius: ;
}
h1 {
    font-weight: bold;

}
h2 {

}
content {
    background-color: white;
    font-family:cursive;
    align-items: center;
}